// body 
//     font-family 微软雅黑,宋体
.tl_header
    background-color #0d1840
    border-color #0d1840
    border-radius 0px
    color #FFF
.tl_div
    margin-top 50px
.tl_two
    margin-top -20px
.tl_product
    background-color #0D1840
    padding 0 10%
    .tl_row
        margin-bottom 0px !important
.tl_content
    width 75%
    margin 30px auto 0px auto
    .tl_introduce
        text-indent 2em
        line-height 3
        font-size 16px
        font-weight bold
.prev,
.next
    position absolute
    top 50%
.tl_jump
    float right 
.tl_yuandian
    bottom -30px
    .tl_yd
        border 1px solid #F3520A
.tl_yd.active
    background-color #F3520A
.tl_roll
    color #E85416
    padding 2%
    font-weight bold
.tl_block
    text-align center
    margin-bottom 20px
.tl_cooperation
    width 100%
h2::after
    content "___"
    color #F89901
    display block
.tl_customer
    color #6D7479
    word-spacing 1px
    line-height 25px
    text-indent 2em
    font-size 14px
.tl-more
    font-size 300px
    color #B5ADAD
.tl_contact
    position relative
    .tl_icon
        position absolute
        top 10px
        left 10px
    .tl_icon1
        position absolute
        top 10px
        left 25px
    .tl_left
        padding-left 30px
    .tl_left1
        padding-left 25px
        resize none
.tl_weixin,
.tl_weibo
    color #FFF
    background rgba(247 ,201, 171,0.5)
    margin-right 30px
    border-radius 90%
    padding 2%
.tl_weixin:hover
    background-color #F00
.tl_footer
    background-color #0D1840
    width 100%
    padding 0 5%
    margin-top 50px
    font-size 16px
    color #DE5119
.tl_daaress
    text-decoration none
    text-align left
    font-weight bold
    &:hover
        color #F9AD8F
        text-decoration none
.tl_name
    color #FFF
    font-weight bold
.tl_bottom
    width 40px
    display inline-block
    background-color #F89900
    color #fff
    line-height 40px
    text-align center
    margin: 10px auto 20px
    border-radius 50%
.tl_nav
    color #FFF
    font-size 16px

